fastapi
fastapi-cors
uvicorn[standard]
pydantic==2.8.2
email-validator
pydantic[email]
python-multipart
motor
openai
boto3
uuid
redis
pyjwt
passlib
pytest
pytest-mock
pytest-cov
pytest-asyncio
python-dotenv